body {
	background-image: url('../img/background.jpeg');
	background-size: auto;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	font-family: "Times New Roman";
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #000000;
	transition: 0.3s;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw; 
	z-index: -1;
}

#block_main {
	background-color: #F5F5F5;
	height: 90vh;
	width: 50%;
	margin-left: 25%;
	padding: 0;
	font-family: Arial;
}

#pageHeader {
	background-image: url('../img/companylogoBG.jpg');
	background-position: center;
	background-size: 100%;
	height: 20%;
	width: 100%;
	display: table;
    text-align: center;
}

#pageHeader a {
	font-family: archivo black;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 63pt;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#pageHeader section {
    display: table-cell;
    vertical-align: middle;
	cursor: pointer;
}

h1 {
	margin: 0;
	font-size: 63pt;
}

#navigationContainer {
	box-sizing: border-box;
	width: 100%;
	background-color: #707070;
	border: 1px solid #FFFFFF;
}

#navigation {
	height: 5%;
	width: 80%;
	text-align: center;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 10%;
}

#navigation nav {
	cursor: pointer;
	height: 100%;
	font-size: 25pt;
	display: inline-block;
	margin: 1%;
}

#product {
	padding-left: 5%;
	padding-right: 5%;
}

#burgerMenu {
	display: none;
}

#content {
	background-color: #F5F5F5;
	height: 60%;
}

#contactTitle {
	background-color: #2699FB;
	width: 100%;
	height: 12%;
	display: table;
    text-align: center;
}

#contactTitle h2 {
    color: #FFFFFF;
	font-size: 50pt;
    display: table-cell;
    vertical-align: middle;
	font-weight: normal;
}

#formTitle {
	color: 	#696969;
	margin: 2% 0 2% 2%;
	font-size: 20pt;
	width: 100%;
}

form {
	height: 70%;
}

input, #generalEnquiries, textarea {
	color: #AAAAAA;
	width: 90%;
	height: 12%;
	margin: 2% 5% 0 5%;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	padding-left: 2%;
	font-size: 15pt;
}

input {
	width: 88%;
}

#generalEnquiries {
	width: 88%;
}

#content p {
	margin: 1.25% 0 0 0%;
	width: 20%;
	display: inline-block;
}

#generalEnquiries select {
	margin: .5% 1% 0 0;
	float: right;
	width: 70%;
	height: 75%;
	z-index: +1;
}

textarea {
	height: 30%;
	font-family: arial;
	padding: 2% 0 0 1%;
	width: 89%;
}

#inputMessage {
	height: 80%;
}

#submitButton {
	background-color: #2699FB;
	color: #FFFFFF;
	width: 90%;
	height: 12%;
	margin: 2% 5% 0 5%;
	padding: 1% 0 .75% 0;
	display: table;
    text-align: center;
	font-size: 25pt;
	cursor: pointer;
	border: none;
}

#submitButton:hover {
	background-color: #0a5fc4;
	transition: .3s;
}

footer {
	background-color: #000000;
	height: 5%;
	width: 100%;
	display: table;
	text-align: center;
	width: 100%;
}

footer p {
	display: table-cell;
    vertical-align: middle;
	color: #FFFFFF;
	font-size: 15pt;
}

/* TABLET MEDIA QUERIES */

@media (max-width: 960px){
	body {
		background-image: none;
	}
	
	video {
		display: none;
	}
	
    #block_main {
		width: 100%;
		margin: 0;
	}
	
	#navigation {
		margin: 0;
		width: 50%;
		display: table;
		padding-left: 25%;
	}
	
	#contactTitle, #formTitle {
		display: none;
	}

	#content {
		height: 60vh;
	}
	
	form {
		width: 90%;
		margin-left: 5%;
		height: 50%;
	}
	
	#generalEnquiries {
		height: 40%;
		margin-top: 10%;
	}
	
	#generalEnquiries p {
		width: 100%;
	}
	
	#generalEnquiries select {
		margin-top: 2%;
		height: 40%;
		float: left;
		width: 97.5%;
	}
	
	textarea {
		height: 60%;
	}
	
	#submitButton {
		height: 20%;
		margin-top: 4%;
		padding-top: 1.5%;
		margin-bottom: 10%;
	}
	
	footer{
		width: 100%;
		margin: 0;
		height: 7.5%;
	}
}
	
/* MOBILE MEDIA QUERIES */

@media (max-width: 360px) {
	#block_main {
		height: 100%;
	}
	
	#pageHeader {
		height: 80px;
	}
	
	#pageHeader h1{
		font-size: 25pt;
		text-shadow: none;
		font-weight: bold;
	}
	
	#navigation {
		margin: 0;
		padding: 0;
	}
	
	#navigationContainer {
		border: 3px solid #FFFFFF;
	}
	
	#navigation nav {
		display: none;
	}
	
	#burgerMenu {
		display: block;
		height: 80%;
		width: 15%;
		margin: 2%;
		float: left;
		cursor: pointer;
	}
	
	form {
		height: 75%;
	}
	
	#content {
		height: 65vh;
	}
	
	#contactTitle {
		display: table;
	}
	
	#contactTitle h2 {
		font-size: 20pt;
	}
	
	
	#content input, #generalEnquiries, textarea {
		border: 2px solid #808080;
		font-size: 10pt;
		margin-top: 3%;
		height: 10%;
    }
	
	#generalEnquiries select {
		height: 30%;
	}
	
	#generalEnquiries {
		height: 25%;
		margin-top: 10%;
		width: 87%;
	}
	
	textarea {
		height: 30%;
	}
	
	#submitButton {
		height: 10%;
	}
	
	footer {
		height: 10%;
	}
	
	footer p {
		font-size: 15pt;
		padding: 5%;
	}
}
