body {
	background-image: url('../img/background.jpeg');
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: "Times New Roman";
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #000000;
	transition: 0.3s;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw; 
	z-index: -1;
}

#block_main {
	height: 100vh;
	width: 50%;
	margin-left: 25%;
	padding: 0;
	font-family: arial;
}

#pageHeader {
	background-image: url('../img/companylogoBG.jpg');
	background-position: center;
	background-size: 100%;
	height: 20%;
	width: 100%;
	display: table;
    text-align: center;
}

#pageHeader a {
	font-family: archivo black;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 63pt;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#pageHeader section {
    display: table-cell;
    vertical-align: middle;
	cursor: pointer;
}

h1 {
	margin: 0;
	font-size: 63pt;
}

#navigationContainer {
	box-sizing: border-box;
	width: 100%;
	background-color: #707070;
	border: 1px solid #FFFFFF;
}

#navigation {
	height: 5%;
	width: 80%;
	text-align: center;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 10%;
}

#navigation nav {
	cursor: pointer;
	height: 100%;
	font-size: 25pt;
	display: inline-block;
	margin: 1%;
}

#blog {
	padding-left: 5%;
	padding-right: 5%;
}

#burgerMenu {
	display: none;
}

#content {
	width: 100%;
	color: #FFFFFF;
}

h2 {
	margin: 0;
	font-size: 63pt;
	display: block;
	font-weight: normal;
}

.subTitle {
	height: 20%;
	width: 80%;
	padding: 3% 10%;
	background-color: #2699FB;
    text-align: center;
}

#content img {
	width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
	display: block;
}

footer {
	background-color: #000000;
	height: 5%;
	width: 100%;
	display: table;
	text-align: center;
}

footer p {
	display: table-cell;
    vertical-align: middle;
	color: #FFFFFF;
	font-size: 15pt;
}

/* TABLET MEDIA QUERIES */

@media (max-width: 960px){
	body {
		background-image: none;
		background-color: #FFFFFF;
	}
	
	video {
		display: none;
	}
	
    #block_main {
		width: 100%;
		margin: 0;
	}
	
	#navigation {
		margin: 0;
		width: 60%;
		display: inline-block;
		padding-left: 20%;
	}
	
	#navigation nav {
		margin-top: 1%;
	}
	
	#subTitle2, #subTitle3, #img3 {
		display: none;
	}
	
	.subTitle, #subTitle1 {
		width: 100%;
		padding: 0;
		display: inline-block;
	}
	
	span {
		padding-top: 1.5%;
	}
	
	#content img {
		height: 400px;
	}
	
	#img1, #img2 {
		width: 48.5%;
		display: inline-block;
		float: left;
		padding: 1% 0 1% 1%;
	}
	
	#img2 {
		padding-right: 1%;
	}
}

/* MOBILE MEDIA QUERIES */

@media (max-width: 360px) {
	video {
		display: none;
	}
	
	#pageheader {
		height: 15%;
	}
	
	#pageHeader h1 {
		font-size: 25pt;
		text-shadow: none;
		font-weight: bold;
	}
	
	#navigationContainer {
		border: 3px solid #FFFFFF;
	}
	
	#navigation {
		margin: 0;
		padding: 0;
	}
	
	#navigation nav {
		display: none;
	}
	
	#burgerMenu {
		display: block;
		height: 80%;
		width: 15%;
		margin: 2%;
		float: left;
		cursor: pointer;
	}
	
	#content img {
		height: 150px;
	}
	
	.subTitle h2 {
		font-size: 20pt;
		padding: 1%;
	}
	
	#img1, #img2, #img3, #img4 {
		height: 25%;
		width: 98%;
		display: inline-block;
		padding: 0;
		margin: 1%;
	}
	
	#subTitle4 {
		display: none;
	}
	
	footer {
		height: 7.5%;
	}
	
	footer p {
		font-size: 15pt;
	}
}