body {
	background-image: url('../img/background.jpeg');
	background-size: auto;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	font-family: "Times New Roman";
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #000000;
	transition: 0.3s;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw; 
	z-index: -1;
}

#block_main {
	background-color: #FFFFFF;
	height: 100vh;
	width: 50%;
	margin-left: 25%;
	padding: 0;
	font-family: Arial;
}

#pageHeader {
	background-image: url('../img/companylogoBG.jpg');
	background-position: center;
	background-size: 100%;
	height: 20%;
	width: 100%;
	display: table;
    text-align: center;
}

#pageHeader a {
	font-family: archivo black;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 63pt;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

#pageHeader section {
    display: table-cell;
    vertical-align: middle;
	cursor: pointer;
}

h1 {
	margin: 0;
	font-size: 63pt;
}

#navigationContainer {
	box-sizing: border-box;
	width: 100%;
	background-color: #707070;
	border: 1px solid #FFFFFF;
}

#navigation {
	height: 5%;
	width: 80%;
	text-align: center;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 10%;
}

#navigation nav {
	cursor: pointer;
	height: 100%;
	font-size: 25pt;
	display: inline-block;
	margin: 1%;
}

#blog {
	padding-left: 5%;
	padding-right: 5%;
}

#burgerMenu {
	display: none;
}

#productCatalog {
	background-color: #2699FB;
	width: 100%;
	height: 10%;
	display: table;
    text-align: center;
}

h2 {
    color:#FFFFFF;
	font-size: 50pt;
    display: table-cell;
    vertical-align: middle;
}

#h2Tablet{
	display: none;
}

.productsBox {
	background-color: #FFFFFF;
}

#products {
	display: block;
	margin: 0%;
	padding: 1%;
	padding-bottom: 2%;
	overflow: hidden;
}

#products article{
	position: relative;
	display: inline-block;
	width: 31.66%;
	padding: 1% 0 0 1%;
	height: 200px;
}

#products img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
	display: block;
}

footer {
	background-color: #000000;
	height: 5%;
	width: 100%;
	display: table;
	text-align: center;
}

footer p {
	display: table-cell;
    vertical-align: middle;
	color: #FFFFFF;
	font-size: 15pt;
}

/* TABLET MEDIA QUERIES */

@media (max-width: 960px){
	body {
		background-image: none;
	}
	
	video {
		display: none;
	}
	
    #block_main {
		width: 100%;
		margin: 0;
	}
	
	#productCatalog {
		display: none;
	}
	
	#h2Desktop {
		display: none;
	}

	#products article {
		margin: 0;
		padding: 0;
		height: 200px;
		width: 47.66%;
		margin: 1%;
	}
	
}

/* MOBILE MEDIA QUERIES */

@media (max-width: 360px) {
	#navigationContainer {
		border: 3px solid #FFFFFF;
	}
	
	#navigation {
		margin: 0;
	}
	
	#navigation nav {
		display: none;
	}
	
	#burgerMenu {
		display: block;
		height: 80%;
		width: 15%;
		margin: 2%;
		float: left;
		cursor: pointer;
	}
	
	#padgeHeader {
		height: 15%;
	}
	
	#pageHeader h1{
		font-size: 25pt;
		text-shadow: none;
		font-weight: bold;
	}
	
	#productCatalog {
		height: 5%;
	}
	
	#products {
		margin: 0%;
		height: auto;
	}
	
	#products article {
		height: 150px;
		width: 96%;
		margin: 1% 2%;
	}
	
	#h2Tablet {
		display: table-cell;
		font-size: 20pt;
	}
	
	footer {
		height: 7.5%;
	}
	
	footer p {
		font-size: 15pt;
	}
}